<section class="hero">
  <div class="container py-5"></div>
</section>

<section class="title">
  <div class="container py-2">
    <h1>HEDONIST ROOTS</h1>
  </div>
</section>

<section class="content">
  <div class="container x-graphic py-4">
    <div class="row py-md-4">
      <div class="col-lg-7 text">
        <h2>DIGITAL IPSUM</h2>
        <p>
          The decade that brought us Star Trek and Doctor Who also resurrected
          Cicero—or at least what used to be Cicero—in an attempt to make the
          days before computerized design a little less painstaking.
        </p>
        <p>
          The French lettering company Letraset manufactured a set of
          dry-transfer sheets which included the lorem ipsum filler text in a
          variety of fonts, sizes, and layouts. These sheets of lettering could
          be rubbed on anywhere and were quickly adopted by graphic artists,
          printers, architects, and advertisers for their professional look and
          ease of use.
        </p>
      </div>
      <div class="col-lg-5">
        <img
          src="https://images.unsplash.com/photo-1555432384-3b2fa7b650c9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80"
        />
      </div>
    </div>
  </div>
</section>
